<head>
  <meta charset='utf-8'>
  <title>Glynnis Ritchie | Designer & Web Developer</title>
  <meta content='Glynnis Ritchie is a web designer living in Madison, WI.' name='description'>
  <meta content='design, web design, book arts, graphic design, designer, Madison' name='keywords'>
  <meta content='width=device-width, minimum-scale=1, maximum-scale=1' name='viewport'>
  <script src='//use.typekit.net/hjo1was.js' type='text/javascript'></script>
  <script type='text/javascript'>
    try{Typekit.load();}catch(e){}
  </script>
</head>
{% stylesheet reset %}
{% stylesheet home %}
