$display: "jubilat", serif, georgia, times;
$body: "lemonde-journal", serif, georgia, times;
$yellow: #C9B34E;

body {
  background-image: url('/img/background.png');
}
h1 {
  font-family: $display;
  font-size: 3em;
  color: white;
  text-align: center;
}
h2 {
  font-family: $display;
  font-size: 1.5em;
  color: #666666;
}
p {
  font-family: $body;
  color: #666666;
  font-size: 1em;
  line-height: 1.4;
  margin: 1em 0 2em 0;
}
em {
  font-style: italic;
}
a, a:link {
  color: #1FAAB6;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #B6DCE4;
  }
  &:visited {
    color: #6B7B83;
  }
}
.wrapper {
  margin: 1em;
}
.content {
  background: white;
  margin: 2em 0;
  padding: 1.5em;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
}
.footer {
  margin-top: 0;
  p {
    color: #666666;
    font-size: 0.8em;
    padding: 1em 2em;
  }
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
    margin-top: 1em;
  }
  p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 1em 0;
  }
  .wrapper {
    margin: 2em;
  }
  .content {
    margin: 2em 0;
    padding: 1em 3em;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    margin: 2em;
  }
  .content, .footer {
    margin: 2em auto;
    width: 50em;
  }
}
