$serif: "jubilat", serif, georgia, times;
$yellow: #C9B34E;

h1 {
  font-family: $serif;
  font-size: 4em;
  color: white;
}
h2 {
  font-family: $serif;
  font-size: 2em;
  color: #333333;
  margin-top: 1em;
}
p {
  font-family: "open-sans", sans-serif, helvetica, arial;
  color: #666666;
  font-size: 0.9em;
  line-height: 1.6;
  margin: 1em 0;
}
em {
  font-style: italic;
}
a, a:link {
  color: #1FAAB6;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #B6DCE4;
  }
  &:visited {
    color: #6B7B83;
  }
}
.hero {
  height: 15em;
  background-image: url('/img/background.png');
  position: relative;
  h1 {
    position: absolute;
    bottom: 2em;
    left: 5%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
.footer {
  margin-top: 8em;
  p {
    color: #666666;
    font-size: 0.8em;
    padding: 1em 2em;
  }
}
